@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');

* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    body {
      background: #000;
      color: #fff;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
      
    }

.main{
    background-image: url("media/img/bg.jpg");
    background-position: center center;
    background-size: max(1200px,100vw);
    background-repeat: no-repeat;
    height: 720px;
    position: relative;
}

.main .box{
    height: 720px;
    width: 100%;
    opacity: 0.70;
    position: absolute;
    top: 0;
    background-color: black;
}

nav{
    max-width: 80vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100px;
}

nav img{
    width: 130px;
    position: relative;
    z-index: 10;
}

nav button{
    font-size: 20px;
    position:relative;
    z-index: 10;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    height: calc(100% - 100px);
    flex-direction: column;
    gap: 25px;
    padding: 0 30px;
    margin-top: 10px;
}

.hero > :nth-child(1){
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
}

.hero > :nth-child(2){
    font-weight: 400;
    font-size: 25px;
    text-align: center;
}
.hero > :nth-child(3){
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}



.btn{
    padding: 3px 8px;
    font-weight: 400;
    color: white;
    background-color: rgba(248,243,243,0.025);
    border-radius: 5px;
    border: 1px solid white;
    cursor: pointer;
}
.btn-red{
    background-color: red;
    color: white;
    padding: 4px 25px;
    font-size: 25px;
    border-radius: 5px;
    font-weight: 400;
}
.btn-red-sm{
    background-color: red;
    color: white;
}

.hero-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}


.hero-button input {
    padding: 7px 101px 8px 15px;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgba(23,23,23,0.7);
    border: 1px solid rgba(246,238,238,0.5);
}

.separation{
    background-color: red;
    height:5px;
    z-index: 10;
    position: relative;

}

.more{
    color:white;
    margin-top: 25px;
    font-size: 30px;
    padding: 40px 60px;

}

.trending-row {
    max-width: 100%;
    margin-top: 30px;
    padding: 30px 80px;
}

.trending-row h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.carousel-wrapper {
    position: relative;
}

.cards {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none; /* Firefox */
    padding:20px 20px 5px 20px;
}

.cards::-webkit-scrollbar {
    display: none; /* Chrome */
}

.card {
    position: relative;
    flex: 0 0 220px;   /* width of the card */
    height: 270px;
    border-radius: 10px;
    overflow: hidden;
    scroll-snap-align: start;
    cursor: pointer;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    padding: 10px;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* dark gradient at bottom like Netflix */
.card::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 45%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
    pointer-events: none;
}

.card:hover {
    transform: scale(1.08);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.9);
    z-index: 2;
}

/* big ranking number */
.rank {
    position: absolute;
    left: 6px;
    bottom: -1px;
    font-size: 5.5rem;
    font-weight: 900;
    line-height: 1;
    color: #fff;
    -webkit-text-stroke: 4px #000; /* black outline like Netflix */
    z-index: 3;
}

/* right scroll arrow */
.navbtn {
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    width: 40px;
    height: 80px;
    border: none;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    backdrop-filter: blur(4px);
}

.navbtn:active {
    transform: translateY(-50%) scale(0.96);
}

@media (max-width: 768px) {
    body {
    padding: 24px 16px;
    }

    .card {
    flex: 0 0 140px;
    height: 210px;
    }

    .rank {
    font-size: 3.2rem;
    -webkit-text-stroke: 3px #000;
    }
}

.first{
    display:flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}

.secImg{
    position: relative;
    overflow: hidden;
}

.secImg img{
    width:600px;
    position: relative;
    z-index: 10;
}
.secImg video {
    position: absolute;
    top: 55px;
    right: 0;
    width: 535px;
}

section.first>div{
    display: flex;
    flex-direction: column;
    padding: 35px 0;
}

section.first>div :nth-child(1) {
    font-size:48px;
    font-weight: bolder;
}

section.first>div :nth-child(2) {
    font: size 25px;
    
}

.second{
    display:flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}


section.second>div{
    display: flex;
    flex-direction: column;
    padding: 30px 0;
}

section.second>div :nth-child(1) {
    font-size:48px;
    font-weight: bolder;
}

section.second>div :nth-child(2) {
    font: size 25px;
    
}

.third{
    display:flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}


section.third>div{
    display: flex;
    flex-direction: column;
    padding: 30px 0;
}

section.third>div :nth-child(1) {
    font-size:48px;
    font-weight: bolder;
}

section.third>div :nth-child(2) {
    font: size 25px;
    
}

.fourth{
    display:flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}


section.fourth>div{
    display: flex;
    flex-direction: column;
    padding: 30px 0;
}

section.fourth>div :nth-child(1) {
    font-size:48px;
    font-weight: bolder;
}

section.fourth>div :nth-child(2) {
    font: size 25px;
    
}
.line{
    background-color:rgb(41, 40, 40);
    height:5px;
    z-index: 10;
    position: relative;

}
.hero-end{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    height: calc(100%-100px);
    flex-direction: column;
    gap: 25px;
    padding: 0 30px;
    margin-top: 150px;
}
.hero-end > :nth-child(1){
    
    font-size: 16px;
    text-align: center;
}


.faq h2{
    text-align:left;
    font-size: 35px;

}

.faq{
    background-color: black;
    color: white;
    padding: 35px;
}

.faqbox:hover{
    background-color: #414141;
    color: white;
}

.faqbox svg{
    filter: invert(1);
}

.faqbox{
    transition: all 1s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 25px;
    max-width: 60;
    margin: 10px auto;
    cursor: pointer;

}

footer{
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 60px;

}

footer .question{
    padding: 34px 0;

}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

@media screen and (max-width: 1300px) {

    nav{
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .secImg img {
        width: 305px;
    }

    .secImg video {
        width: 305px;
    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
        padding: 75px 0;
    }

    .footer-item{
        align-items: center;
    }
 

}



@media screen and (max-width: 1300px) {

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
}


.footer a {
    font-size: 14px;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}



